#posts {
    height: 95%;
    overflow-y: auto;
}

.content-table {
    display: block;
    border-collapse: collapse;
}

.maximized-height {
    margin-bottom: 0;
    margin-top: 0;
    min-height: 98%;
    max-height: 98%;
    height: 98%;
    display: block;
}

.maximized-width {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
}

#threads {
    height: 95%;
    overflow-y: auto;
}

.floatmenu {
    float: right;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.content-table tbody,
.content-table tr,
.content-table td,
.row {
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-width: 100%;
    max-width: 100%;
}

.author {
    text-align: center;
}

.avatar {
    max-width: 110px;
    max-height: 110px;
    vertical-align: middle;
}

.avatar-wrapper {
    display: block;
    min-height: 110px;
    height: 110px;
    margin-bottom: 0.5em;
}

.avatar-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.avatar-small {
    min-width: 80px;
    width: 80px;
    max-width: 80px;
}

#header {
    margin-top: 10px;
    height: 4%;
    vertical-align: middle;
}

#content {
    height: 96%;
    padding-top: 55px;
}

.alias-display {
}

.alias-edit {
    display: none;
}

.signature {
    padding-top: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: lightgray;
}

.borderless {
    border-style: hidden;
}

#center_blob {
    width: 30%;
    min-width: 300px;
    padding-top: 20px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

ul {
    list-style-type: none;
}

.vertical-center {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

#global-profile-row {
    margin-top: 10px;
}

.alias-row {
    margin-top: 10px;
}

.authenticate, .alias-delete {
    margin-top: 5px;
}

.start-hidden {
    display: none;
}

.error {
    color: #b94a48;
}

div#forum-list {
    text-align: center;
}

div.forum {
    display: inline-block;
    width: 150px;
    margin: 0 auto;
}

a.not-link {
    color: #000;
}

.quote-message {
    border: solid 1px #ddd;
    margin-bottom: 10px;
    padding: 5px;
}