{% extends "center_blob.html" %}

{% block title %}Login{% endblock %}

{% block center_blob %}

<form method="post" action="{% url 'user_profiles.views.login' %}" role="form" id="blob_form">
  {% csrf_token %}

  {{ form.non_field_errors }}
  {% for field in form %}
  <div class="form-group">
    {{ field.errors }}
    {{ field.label_tag }}
    {{ field }}
  </div>
  {% endfor %}

  <a href="{% url 'django.contrib.auth.views.password_reset' %}" class="btn btn-default">Forgot Password?</a>
  <input type="submit" class="btn btn-primary pull-right" value="Login"/>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
