{% extends "center_blob.html" %}

{% block center_blob %}

<p id="logout_success">
  You have been logged out. If you are not redirected, please <a href="{{
  redirect_url }}">click here</a>.
</p>

{% endblock %}
