{% extends "center_blob.html" %}

{% block title %}Reset Complete{% endblock %}

{% block center_blob %}
<p>Your new password has been set. You can login <a href="{{ login_url }}">here.</a></p>
{% endblock %}
