{% extends "center_blob.html" %}

{% block title %}Password Reset{% endblock %}

{% block center_blob %}

<form method="post" role="form" id="blob_form">
  {% csrf_token %}

  {{ form.non_field_errors }}
  {% for field in form %}
  <div class="form-group">
    {{ field.errors }}
    {{ field.label_tag }}
    <input type="text" name="email" id="id_email" maxlength="254" class="form-control"/>
  </div>
  {% endfor %}
  <input type="submit" class="btn btn-primary pull-right" value="Reset"/>
</form>

{% endblock %}
