{% extends "center_blob.html" %}

{% block title %}Password Reset{% endblock %}

{% block center_blob %}

{% if validlink %}
<form method="post" role="form" id="blob_form">
  {% csrf_token %}

  {{ form.non_field_errors }}
  <div class="form-group">
    {{ form.new_password1.errors }}
    {{ form.new_password1.label_tag }}
    <input type="text" name="new_password1" id="id_new_password1" maxlength="254" class="form-control"/>
  </div>
  <div class="form-group">
    {{ form.new_password2.errors }}
    {{ form.new_password2.label_tag }}
    <input type="text" name="new_password2" id="id_new_password2" maxlength="254" class="form-control"/>
  </div>
  <input type="submit" class="btn btn-primary pull-right" value="Change Password"/>
</form>
{% else %}
<p>Your reset link is invalid.</p>
{% endif %}
{% endblock %}
