{% extends "center_blob.html" %}

{% block center_blob %}

<form method="post" action="{% url 'user_profiles.views.password_reset' %}" role="form" id="blob_form">
  {% csrf_token %}

  {{ form.non_field_errors }}
  {% for field in form %}
  <div class="form-group">
    {{ field.errors }}
    {{ field.label_tag }}
    {{ field }}
  </div>
  {% endfor %}
  <input type="submit" class="btn btn-primary pull-right" value="Reset"/>
</form>

{% endblock %}
