{% extends "center_blob.html" %}

{% block title %}Add Alias{% endblock %}

{% block center_blob %}
<form method="POST" role="form" id="blob_form">
  {% csrf_token %}
  {{ alias_form.non_field_errors }}
  {{ profile_form.non_field_errors }}

  <div>{{ other_validation_errors }}</div>

  {% for field in alias_form %}
  <div class="form-group">
    {{ field.errors }}
    {{ field.label_tag }}
    {{ field }}
  </div>
  {% endfor %}

  {% for field in profile_form %}
  <div class="form-group">
    {{ field.errors }}
    {{ field.label_tag }}
    {{ field }}
  </div>
  {% endfor %}
  <input type="submit" value="Add" class="btn btn-primary pull-right"/>
</form>

{# fuck it I'm using JS #}

<script>
$(function() {
    $("input, select, textarea").addClass('form-control');
    $("label").addClass('control-label');
});
</script>
{% endblock %}
