{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Profile{% endblock %}

{% block content %}
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
<script>
  jQuery(function() { window.forumite.Profile.init("{{ authentication_url }}") });
</script>
<div class="row">
  <h3 class="col-2 vertical-center">Global Profile</h3>
  <a href="{% url 'user_profiles.views.profile_edit' %}" class="btn
  btn-default col-2 col-offset-8">Change Email/Password</a>
</div>
<div class="row">
  <h4 class="col-2">Avatar</h4>
  <h4 class="col-9">Signature</h4>
</div>
<div class="row alias-row" id="global-profile-row">
  <form method="POST" action="{% url 'user_profiles.views.put_profile' profile.pk %}" class="alias-form">
    {% csrf_token %}
    <span class="col-2 alias-display avatar-display">
      {% if profile.avatar %}
      <img class="avatar" src="{{ profile.avatar.url }}"/>
      {% endif %}
    </span>
    <span class="col-2 alias-edit avatar-edit">{{ global_profile_form.avatar }}</span>
    <span class="col-9 alias-display signature-display">{{ profile.signature }}</span>
    <span class="col-9 alias-edit signature-edit">{{ global_profile_form.signature }}</span>
    <span class="col-1 alias-display">
      <button type="button" class="btn btn-default edit">Edit</button>
    </span>
    <span class="col-1 alias-edit">
      <button type="button" class="btn btn-cancel cancel">Cancel</button>
      <button type="submit" class="btn btn-primary save">Save</button>
    </span>
  </form>
</div>
<div class="row">
  <h3 class="col-2 vertical-center">Aliases</h3>
</div>
<div class="row">
  <ul id="aliases" class="table table-striped">
    <li class="row">
        <span class="col-2"><h4>Forum</h4></span>
        <span class="col-3"><h4>Display Name</h4></span>
        <span class="col-2"><h4>Avatar</h4></span>
        <span class="col-4"><h4>Signature</h4></span>
        <span class="col-1"></span>
    </li>
    {% for alias, profile_form in aliases %}
    <li class="row alias-row" id="alias-{{ alias.id }}" data-alias-id="{{ alias.id }}"
        {% if not alias.authenticated %} data-alias-hash="{{ alias.auth_hash }}" {% endif %}>
      <form method="POST" action="{% url 'user_profiles.views.put_profile' alias.profile.pk %}" class="alias-form">
        {% csrf_token %}
        <span class="col-2 forum-display">
          <strong>{{ alias.forum }}</strong>
        </span>
        <span class="col-3 name-display">{{ alias.name }} ({{ alias.slug }})</span>
        <span class="col-2 alias-display avatar-display">
          {% if alias.profile.avatar %}
          <img class="avatar" src="{{ alias.profile.avatar.url }}"/>
          {% endif %}
        </span>
        <span class="col-2 alias-edit avatar-edit">{{ profile_form.avatar }}</span>
        <span class="col-4 alias-display signature-display">{{ alias.profile.signature }}</span>
        <span class="col-4 alias-edit signature-edit">{{ profile_form.signature }}</span>
        <span class="col-1 alias-display">
          <button type="button" class="btn btn-default edit">Edit</button>
          {% if not alias.authenticated %}
          <button type="button" class="btn btn-primary authenticate">Authenticate</button>
          {% endif %}
          <button type="button" class="btn btn-danger alias-delete" 
                  data-delete-url="{% url 'user_profiles.views.alias_delete' alias.pk %}">Delete</button>
        </span>
        <span class="col-1 alias-edit">
          <button type="button" class="btn btn-cancel cancel">Cancel</button>
          <button type="submit" class="btn btn-primary save">Save</button>
        </span>
      </form>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="row">
  <a href="{{ add_alias_url }}" id="add-alias-button" class="btn btn-default col-1 col-offset-11">Add
    Alias</a>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="GET" action="" id="delete-form">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="deleteModalLabel">Delete Alias?</h4>
        </div>
        <div class="modal-body">
          <strong>Danger, Will Robinson!</strong> There is no undo button! If
          you delete your alias for the <span id="forum-name"></span> forums but
          want it back, you'll have to add it back manually!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel cancel" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger delete">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="{{ authentication_url }}" id="auth-form">
        {% csrf_token %}
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="authModalLabel">Authenticate Alias</h4>
        </div>
        <div class="modal-body">
          <div id="authError" class="start-hidden error">The post ID you supplied was incorrect or the post did not contain the correct auth code.</div>
          <input type="hidden" name="alias" id="aliasID">
          Copy and paste the following value into a post on the forum you are authenticating.
          <div class="form-group">
            <label for="authHash" class="control-label">Authentication Code</label>
            <input type="text" id="authHash" class="form-control" disabled="disabled">
          </div>
          Then copy and paste the id of the resulting post into the field below and click <em>Authenticate</em>.
          <div class="form-group" id="authPostIdGroup">
            <label for="authPostId" class="control-label">Post ID</label>
            <input type="text" id="authPostId" name="post_id" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel cancel" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary save">Authenticate</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
