{% extends "center_blob.html" %}

{% block title %}Edit Profile{% endblock %}

{% block center_blob %}
<form method="POST" role="form" id="blob_form">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
  <div class="form-group">
    {{ field.errors }}
    {{ field.label_tag }}
    {{ field }}
  </div>
  {% endfor %}
  <input type="submit" value="Save" class="btn btn-primary pull-right"/>
</form>
{% endblock %}
