{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div id="forum-list" class="center-block container">
  {% for forum in forums %}
  <div class="forum">
    <a href="{% url 'frontend.views.reader' forum.slug %}">
      <img class="img-thumbnail" alt="{{ forum.name }}" src="{{ forum.logo.url }}">
    </a>
  </div>
  {% endfor %}
</div>

{% endblock %}
