{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<script src="{% static 'js/forumite.min.js' %}"></script>
<select id="boards"></select>
<div class="container row maximized-height maximized-width" id="root">
    <div id="threads" class="col-lg-3 maximized-height">
    </div>
  <div id="posts" class="col-lg-9 maximized-height">
  </div>
</div>
<div class="floatmenu">
  <a href="" id="reply-link" target="_blank">Reply</a>
  <a href="" id="new-thread-link" target="_blank" class="start-hidden">New Thread</a>
</div>
<script>
  forumite.interface$.core.init();
</script>
{% endblock %}
