{% load staticfiles %}
<html lang="en" class="maximized-height maximized-width">
<head>
    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Forumite -->
    <link rel="stylesheet" href="{% static 'css/forumite.css' %}">
    <title>{% block title %}{% endblock %} - Forumite</title>
</head>
<body class="maximized-width maximized-height">
  <div id="header" class="container maximized-width">
    <div class="row maximized-height">
      {% if user.is_authenticated %}
      <a href="{% url 'frontend.views.index' %}" class="not-link"><h2 class="col-2 vertical-center">Forumite</h2></a>
      <a href="{% url 'user_profiles.views.profile_display' %}" class="col-2 col-offset-7">
        {% if profile.avatar %}
        <img id="global-avatar" class="avatar-small col-6" src="{{ profile.avatar.url }}">
        {% endif %}
        <div id="username" class="col-6 vertical-center">{{ user.username }}</div>
      </a>
      <div class="col-1">
        {% if path %}
        <a href="{% url 'user_profiles.views.logout' %}?next={{ path }}" class="btn btn-info">Logout</a>
        {% else %}
        <a href="{% url 'user_profiles.views.logout' %}" class="btn btn-info">Logout</a>
        {% endif %}
      </div>
      {% else %}
      <div class="col-offset-10 col-2">
        {% if path %}
        <a href="{% url 'user_profiles.views.login' %}?next={{ path }}" class="btn btn-info">Login</a>
        {% else %}
        <a href="{% url 'user_profiles.views.login' %}" class="btn btn-info">Login</a>
        {% endif %}
        <a href="{% url 'user_profiles.views.registration' %}" class="btn btn-primary">Register</a>
      </div>
      {% endif %}
    </div>
  </div>
  <div id="content" class="maximized-width">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
